<div class="layout-header-container">
  <header class="top">
    <div class="content">
      <div class="user">
        <div class="icon-container">
          <svg-icon src="assets/icons/person.svg" svgClass="icon"></svg-icon>
        </div>
        <span>AndrzejBronislawski</span>
      </div>
    </div>
  </header>
  <header class="bottom">
    <div class="content">
      <div class="logo">
        <span>PurchasingPlatformUI</span>
      </div>
      <div class="middle">
        <div class="search">
          <input type="text">
          <button type="text" class="submit">
            <div class="icon-container">
              <svg-icon src="assets/icons/search.svg" svgClass="icon"></svg-icon>
            </div>
          </button>
        </div>
      </div>
      <div class="buttons">
        <button type="button" class="search">
          <div class="icon-container">
            <svg-icon src="assets/icons/search.svg" svgClass="icon"></svg-icon>
          </div>
        </button>
        <button type="button" class="clipboard">
          <div class="icon-container">
            <svg-icon src="assets/icons/heart.svg" svgClass="icon"></svg-icon>
          </div>
          <span translate>clipboard</span>
        </button>
        <button type="button" class="cart">
          <div class="icon-container">
            <svg-icon src="assets/icons/cart.svg" svgClass="icon"></svg-icon>
          </div>
          <span translate>cart</span>
        </button>
      </div>
    </div>
  </header>
</div>