.layout-header-container {
  header {
    display: flex;
    justify-content: center;

    &.top,
    &.bottom {
      .content {
        display: flex;
        width: 100%;
        max-width: 1600px;
      }
    }

    &.top {
      background-color: var(--layout-header-light-color);

      .content {
        padding: 8px 0;
        color: black;
        justify-content: flex-end;

        @media(min-width: 1024px) {
          padding: 8px;
        }

        .user {
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            .icon-container {
              .icon {
                fill:  var(--layout-header-highlight-color);
              }
            }

            span {
              color: var(--layout-header-highlight-color);
            }
          }

          .icon-container {
            width: 24px;
            height: 24px;

            .icon {
              width: 24px;
              height: 24px;
              fill: black;
            }
          }

          span {
            font-weight: 500;
            font-size: 16px;
            margin-left: 8px;
          }
        }
      }
    }

    &.bottom {
      background-color: black;

      .content {
        padding: 16px 0;
        color: white;

        @media(min-width: 1024px) {
          padding: 16px 8px;
          justify-content: initial;
        }

        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: bold;
          color: var(--layout-header-highlight-color);
          cursor: pointer;

          &:hover {
            color: white;
          }

          @media(min-width: 1024px) {
            font-size: 27px;
          }
        }

        .middle {
          display: none;

          @media(min-width: 1024px) {
            display: flex;
            flex: 1;
            justify-content: center;
          }

          .search {
            display: flex;
            width: 100%;
            max-width: 450px;
            height: 100%;

            @media(min-width: 1600px) {
              max-width: 600px;
            }

            input {
              width: 100%;
              padding: 11px;
              height: 40px;
              border: 0;
              font-size: 16px;
              font-weight: 500;
              background-color: var(--layout-header-light-color);

              @media(min-width: 1600px) {
                padding: 16px;
                height: 50px;
              }
            }

            .submit {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color:  var(--layout-header-highlight-color);
              border: none;
              height: 40px;
              width: 40px;
              cursor: pointer;

              &:hover {
                .icon-container {
                  .icon {
                    fill: white;
                  }
                }
              }

              @media(min-width: 1600px) {
                height: 50px;
                width: 50px;
              }

              .icon-container {
                width: 15px;
                height: 15px;

                .icon {
                  width: 15px;
                  height: 15px;
                  fill: black;
                }
              }
            }
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          margin-left: auto;

          @media(min-width: 1024px) {
            margin-left: 0; 
          }

          button {
            &:not(&:first-of-type) {
              margin-left: 15px;

              @media(min-width: 1024px) {
                margin-left: 30px;
              }
            }

            &.clipboard,
            &.cart,
            &.search {
              display: flex;
              background-color: transparent;
              border: none;
              font: 500 17px/27px Poppins, Arial;

              &:hover {
                cursor: pointer;

                @media(max-width: 1600px) {
                  .icon-container {
                    .icon {
                      fill: white;
                    }
                  }
                }

                span {
                  color:  var(--layout-header-highlight-color);
                }
              }

              .icon-container {
                width: 20px;
                height: 20px;

                @media(min-width: 1024px) {
                  width: 30px;
                  height: 30px;
                }

                .icon {
                  width: 20px;
                  height: 20px;
                  fill:  var(--layout-header-highlight-color);

                  @media(min-width: 1024px) {
                    width: 30px;
                    height: 30px;
                  }
                }
              }

              span {
                display: none;
                margin-left: 15px;
                color: white;
                font-weight: bold;

                @media(min-width: 1600px) {
                  display: initial;
                }
              }
            }

            &.search {
              @media(min-width: 1024px) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}