.categories-container {
  display: flex;
  flex-wrap: wrap;

  .category {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 1px solid var(--layout-header-light-color2);
    padding: 10px;

    &:not(&:last-of-type) {
      margin-right: 8px;
    }

    &:hover {
      cursor: pointer;

      .text {
        color: var(--layout-header-highlight-color);
      }
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      .icon {
        width: 50px;
        height: 50px;
      }
    }

    .text {
      text-align: center;
      font-weight: bold;
    }
  }
}