.home-newsletter-container {
  display: flex;
  flex-direction: column;
  background-color: var(--app-light-gray-color);
  padding: 8px 16px;

  @media(min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    min-height: 200px;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    text-align: center;

    @media(min-width: 1024px) {
      max-width: 50%;
      margin-right: 32px;
      text-align: initial;
    }

    .label {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;

      @media(min-width: 1024px) {
        margin-bottom: 16px;
      }
    }

    .description {
      font-size: 15px;
    }
  }

  .email-container {
    display: flex;
    flex-direction: column;

    @media(min-width: 1024px) {
      flex-direction: row;
      width: 50%;
    }

    input {
      display: flex;
      padding: 12px;
      flex: 1;
      color: var(--app-orange-color);
      font-size: 15px;
      font-weight: bold;
      border-radius: 0;
      border-color: black;
      margin-bottom: 8px;

      @media(min-width: 1024px) {
        padding: 0 16px;
        margin-bottom: 0;
      }

      &::placeholder {
        opacity: 0.7;
      }
    }
    
    .submit {
      padding: 8px 16px;
      background-color: var(--app-orange-color);
      color: white;
      font-weight: bold;
      font-size: 16px;
      border: none;
      outline: none;

      @media(min-width: 1024px) {
        padding: 16px 32px;
      }
    }
  }
}