.footer-container {
  header {
    display: flex;
    justify-content: center;
    background-color: black;

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1600px;
      justify-content: space-between;
      padding: 16px 8px;

      @media(min-width: 1024px) {
        flex-direction: row;
      }
    }
  }
}